*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:"Segoe UI",sans-serif;
}

body{
  background:#f8f9fc;
  color:#333;
}

/* NAV */
nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 10%;
  background:#fff;
  box-shadow:0 2px 10px rgba(0,0,0,.05);
}

.logo{
  font-size:24px;
  font-weight:700;
  color:#4f46e5;
}

nav ul{
  display:flex;
  list-style:none;
}

nav li{
  margin-left:20px;
}

nav a{
  text-decoration:none;
  color:#333;
  font-weight:500;
  transition:.3s;
}

nav a:hover{
  color:#4f46e5;
}

/* HERO */
.hero{
  text-align:center;
  padding:90px 20px;
  background:linear-gradient(90deg,#4f46e5,#6366f1);
  color:#fff;
  height: 80vh;
}

.hero h1{
  font-size:36px;
  margin:10px 0;
}

.hero p{
  margin-top:10px;
  font-size:18px;
}

.input-box{
  margin-top:25px;
}

/* INPUT + BUTTON */
input{
  padding:12px;
  width:220px;
  border:none;
  border-radius:6px;
  outline:none;
  font-size:15px;
}

button{
  position:relative;
  padding:12px 22px;
  margin-left:10px;
  border:none;
  border-radius:6px;
  background:#ffdd57;
  color:#1f2937;
  font-weight:600;
  cursor:pointer;
  overflow:hidden;
  transition:.2s;
}

button:hover{
  transform:translateY(-3px);
  box-shadow:0 8px 20px rgba(0,0,0,.15);
}

button:active{
  transform:none;
  box-shadow:0 4px 10px rgba(0,0,0,.2);
}

button::after{
  content:"";
  position:absolute;
  inset:0;
  left:-100%;
  background:linear-gradient(120deg,transparent,rgba(255,255,255,.6),transparent);
  transition:.5s;
}

button:hover::after{
  left:100%;
}

/* PULSE */
@keyframes pulse{
  0%{box-shadow:0 0 0 0 rgba(255,221,87,.7)}
  70%{box-shadow:0 0 0 15px transparent}
  100%{box-shadow:0 0 0 0 transparent}
}

.pulse{
  animation:pulse 2s ease-out;
}

/* SECTIONS */
.section{
  padding:70px 10%;
  text-align:center;
  height: 80vh;
}

.section h2{
  margin-bottom:20px;
  color:#4f46e5;
}

.section p{
  max-width:700px;
  margin:auto;
  line-height:1.6;
}

.gray{
  background:#eef2ff;
}

/* SKILLS */
.skills-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
  gap:20px;
  margin-top:30px;
}

.skills-grid span{
  background:#fff;
  padding:15px;
  border-radius:8px;
  font-weight:500;
  box-shadow:0 4px 12px rgba(0,0,0,.05);
  opacity:0;
  transform:scale(.9);
  transition:.5s;
}

.skills-grid span.show{
  opacity:1;
  transform:scale(1);
}

/* SCROLL ANIMATION */
.animate-section{
  opacity:0;
  transform:translateY(40px);
  transition:.8s;
}

.animate-section.show{
  opacity:1;
  transform:none;
}

/* FOOTER */
footer{
  text-align:center;
  padding:20px;
  background:#fff;
  font-size:14px;
}